// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html {
  color: #1D518D;
}

table, th, td, tbody {
  text-align: center;
  height: 10px;
  margin-left: 320px;
  border: 2px solid black;
}

th, td {
  width: 200px;
}

body {
  text-align: center;
}
